PORT=3000
JWT_SECRET=safenest_super_secret_key_2025
JWT_EXPIRES_IN=7d
MONGODB_URI=mongodb+srv://Chandru:Chandru%402004@cluster0.viijgd7.mongodb.net/safenest?appName=Cluster0
NODE_ENV=development
ANTHROPIC_API_KEY=YOUR_API_KEY_HERE
